.body {
  background-color: gainsboro;
  --cmn-font-size: 12px;
  --header-font-size: 14px;
}

.bg {
  background-color: blueviolet;
  height: 30vh;
  width: 100vw;
  z-index: 1;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 700px) {
  .body {
    --cmn-font-size: 10px;
    --header-font-size: 12px;
  }
}
