.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(1000vw / 12);
  height: 5rem;
  z-index: 10;
  padding: 1rem 0;
  background-color: transparent;
  color: white;
  top: 0;
}
